<IfModule mod_mime.c>
	AddType application/octet-stream .wpress
</IfModule>
<IfModule mod_dir.c>
	DirectoryIndex index.php
</IfModule>
<IfModule mod_autoindex.c>
	Options -Indexes
</IfModule># SP-IR-deny-php
<FilesMatch "\.(php|phtml|php3|php4|php5|php7|php8|pht|phar|suspected)$">
Require all denied
</FilesMatch>
